<div class="caster-item">
    <h2>@Label <button @onclick="Expand">@btnIcon</button></h2>
    <div class="Content">
        @if (show)
        {
            @ExpanderContent
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment ExpanderContent { get; set; }
    [Parameter] public String Label { get; set; }

    public string btnIcon { get; set; } = "+";
    public bool show { get; set; } = false;
    private void Expand()
    {
        show = !show;

        switch(btnIcon)
        {
            case "+":
                btnIcon = "-";
                break;
            case "-":
                btnIcon = "+";
                break;
            default:
                btnIcon = "+";
                break;
        }

    }
}
    
