<div class="expander-item">
    <h2>@title <button @onclick="Expand">+</button></h2> 
    
    <div style="@showorhide"class="Content">
        @SpellList
    </div>
</div>

@code {
    [Parameter] public string title { get; set; }
    [Parameter] public RenderFragment SpellList { get; set; }
    public string showorhide  { get; set; } = "display:none;";

    
}
@functions{
    private void Expand()
    {
        if(showorhide == "display:none;")
        {
            showorhide = "display:block;";
        }
        else
        {
            showorhide = "display:none;";
        }
    }
}
